<h1>Sign in</h1>

or <%= link_to "Sign up now!", new_user_url %>

<form action="<%= session_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <p>
    <label>Email</label>
    <input type="text" name="user[email]">
  </p>

  <p>
    <label>Password</label>
    <input type="text" name="user[password]">
  </p>

  <input type="submit">

</form>
